@media (max-width: 1490px){
    .container{
        margin: 0 15px;
    }
}

@media (max-width: 1350px){
    .card{
        margin-right: 10px;
    }
    .btn{
        font-size: 16px;
        width: 98%;
        height: 90px;

    }
    .main-title{
        font-size: 22px;
    }
    .title-header{
        font-size: 28px;
    }
    .description{
        font-size: 18px;
    }
    .btn-header{
        font-size: 16px;
        padding: 8px 18px;
    }
    .logo{
        width: 260px;
    }
}

@media (max-width: 1190px){
    .card{
        flex-basis: 260px;
    }
    .title-header{
        font-size: 26px;
    }
    .btn-header{
        font-size: 14px;
        padding: 6px 16px;
    }
    .logo{
        width: 230px;
    }
    .main-title {
        font-size: 18px;
    }
    .description {
        font-size: 16px;
    }
    .title-box{
        width: 350px;
        height: 350px;
    }
    .title-box__title {
        font-size: 26px;
    }
    .title-box__subtitle{
        font-size: 16px;
    }
}

@media (max-width: 1024px){
    .title-header {
        font-size: 22px;
    }
    .description {
        font-size: 14px;
    }
    .logo {
        width: 210px;
    }
    .btn-header{
        padding: 4px 14px;
    }
    .main-title {
        font-size: 16px;
    }
}

@media (max-width: 1110px){
    .card {
        flex-basis: 220px;
    }
    .ico-box p{
        font-size: 14px;
    }
    .btn__text{
        font-size: 14px;
    }
}

@media (max-width: 950px){
    .card {
        flex-basis: 200px;
    }
    .btn svg {
        width: 35%;
        height: 40px;
    }
    .btn__text {
        font-size: 13px;
    }
    .title-box {
        width: 320px;
        height: 320px;
    }
    .politics{
        font-size: 10px;
    }
}

@media (max-width: 870px){
    .btn-header{
        order: 1;
        margin-top: 18px;
    }
    .header-box-title{
        order: 2;
        margin: 20px auto;
    }
    .title-header {
        font-size: 26px;
    }
    .description {
        font-size: 18px;
    }
    .card-box{
        width: 100%;
        justify-content: space-between;
    }
    .close-form{
        height: 100%;
    }
    .main-title{
        text-align: center;
    }
}

@media (max-width: 660px){
    .card-box{
        justify-content: center;
    }
}

@media (max-width: 620px){
    .ico-box{
        width: 80px;
    }
    .title-box{
        box-shadow: 0 0 15px red;
    }
}

@media (max-width: 578px){
    .title-header{
        text-align: center;
        margin-bottom: 20px;
    }
}

@media (max-width: 570px){
    .ico-box{
        width: 50%;
        margin-top: 15px;
    }
    .footer{
        flex-wrap: wrap;
        margin-bottom: 20px;
        justify-content: center;
    }
}

@media (max-width: 450px){
    .card {
        flex-basis: 95%;
    }
    .btn-header{
        display: none;
    }
    .mobile-phone{
        display: block;
        width: 50px;
    }
    .btn__text {
        font-size: 18px;
    }
}

@media (max-width: 400px){
    .title-box{
        width: 300px;
        height: 300px;
    }
    .title-box__title{
        font-size: 22px;
    }
    .title-box__subtitle{
        font-size: 14px;
    }
    .form{
        width: 320px;
    }
    .btn-form{
        font-size: 14px;
    }
    .btn-close-form{
        left: 10px;
    }
    .btn-submit{
        right: 10px;
    }
}